@font-face {
    font-family: 'tomfont';
    src: url('http://at.alicdn.com/t/font_1416207284_010864.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1416207284_010864.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1416207284_010864.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1416207284_010864.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1416207284_010864.svg#iconfont') format('svg'); /* iOS 4.1- */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f6f6f6;
    font-family: Microsoft Yahei, Verdana, tomfont;
}

.Wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.Wrapper.manage {
    width: 80%;
    position: fixed;
    left: 0;
    top: 0;
}

.Wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.loginAndShow { display: none; }
.loginAndShow.isLoggedIn { display: block; }

.Login-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    color: #f60;
    font-size: 12px;
}

.Login-form table {
    width: 80%;
    padding: 0;
    margin: 30px auto;
}

.Login-form th { text-align: left; }
.Login-form td { text-align: right; }

.Login-form input,
.Login-btn {
    outline: none;
    display: inline-block;
    border: none;
    background: #fff;
    color: #f60;
}

.Login-btn {
    background: #fff;
    color: #f60;
    text-align: center;
    margin-top: 24px;
    padding: 6px 12px;
    border: 1px solid #f60;
    border-radius: 5px;
    cursor: pointer;
}

.Login-btn:hover {
    background: #f60;
    color: #fff;
}

.Login-form input {
    border-bottom: 1px solid #f60;
    width: 100%;
    padding: 12px 0;
}

.Dialog-box {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: #f90;
    border-right: 3px solid #f99300;
    border-bottom: 3px solid #e80;
    border-radius: 3px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.Dialogs {
    margin-bottom: 10px;
    padding: 40px 10px 10px 10px;
    background: white;
    height: 400px;
    overflow: auto;
    border-radius: 3px;
    position: relative;
}

.Dialog-box .receptTips {
position: absolute;
top: 10px;
left: 50%;
right: 0;
height: 30px;
width: 500px;
margin-left: -250px;
line-height: 30px;
font-size: 12px;
text-align: center;
background: #EEE;
color: #f60;
box-shadow: 1px 1px 0 rgba(0,0,0,.1);
border-radius: 5px;
}

.Dialog-item { text-align: right; }
.Dialog-item.remote { text-align: left; }

.Dialog-item p {
    text-align: left;
    display: inline-block;
    font-size: 12px;
    line-height: 2em;
    margin: .5em 0;
    padding: 0 .5em;
    background: #f9f9f9;
    border-radius: 5px;
    border-bottom: 3px solid #f3f3f3;
}

.Dialog-item.remote p {
    background: #f60;
    color: white;
    border-bottom: 3px solid #e50;
}

.Dialog-item.info p {
    display: block;
    text-align: center;
    background: #eee;
    color: #999;
    border: none;
}

.Dialog-form {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.Dialog-form button,
.Dialog-form textarea {
    outline: none;
}

.Dialog-form textarea {
    width: 75%;
    display: inline-block;
    height: 60px;
    padding: 10px 2%;
    font-size: 12px;
    border: none;
    border-radius: 3px;
}

.Dialog-form button {
    width: 20%;
    display: inline-block;
    height: 80px;
    padding: 0;
    font-size: 12px;
    line-height: 80px;
    border: none;
    float: right;
    border-radius: 3px;
    background: #f60;
    color: white;
    cursor: pointer;
}

.Sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #eee;
    color: grey;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.Side-proc-mask {
    background: url(images/loading.gif) no-repeat 50% 50%;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    z-index: 101;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.Side-proc-mask.isLoading {
    opacity: 1;
    left: 0;
}

.Sidebar-tabs {
    position: absolute;
    left: -60px;
    top: 0;
    width: 50px;
}

.Sidebar-tab {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color: grey;
    text-align: center;
    font-size: 28px;
}

.Sidebar-tab.Sidebar-tab-config { font-size: 32px; }

.Sidebar-tab.active {
    color: #f60;
}

.Users {
    padding-top: 41px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

.User-tabs-3,
.User-tabs-4 {
    background: white;
    height: 40px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.User-tab {
    display: inline-block;
    float: left;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.User-tabs-3 .User-tab { width: 33.33%; }
.User-tabs-4 .User-tab { width: 25%; }

.User-tab .unreads {
    position: absolute;
    top: 50%;
    left: 8%;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 3px;
}

.User-tab.active {
    background: #f60;
    color: white;
}

.User-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.User-list li {
    display: block;
    font-size: 12px;
    line-height: 1.5em;
    cursor: pointer;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
}

.User-list li .unreads {
    position: absolute;
    width: 8px;
    height: 18px;
    top: 50%;
    margin-top: -11px;
    right: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 18px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid #f60;
    color: #f60;
    background: white;
}

.User-list li:hover .unreads {
    color: white;
    background: #f60;
}

.User-list li:hover {
    color: #f60;
}

.User-list li.active {
    color: #f60;
    border-color: #f60;
}

.User-del {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color: #f60;
    border: 1px solid #f60;
    border-radius: 22px;
}

.User-del:hover {
    background: #f60;
    color: #fff;
}

.Sidenav-form {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: white;
    font-size: 12px;
    position: relative;
}

.Sidenav-label {
    line-height: 2em;
    display: block;
    margin-top: .5em;
}

.Sidenav-formTips {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 12px;
    margin: 6px 0;
    color: red;
}

.Sidenav-input {
    display: block;
    width: 100%;
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
}

.Sidenav-input:focus,
.Sidenav-input:active {
    border-color: #f60;
}

.Sidenav-input.ng-valid {
    border-color: #4EaD59;
    background: #5EBD69;
    color: white;
}

.Sidenav-submit {
    background: #fff;
    color: #f60;
    text-align: center;
    margin-top: 6px;
    padding: 6px 12px;
    border: 1px solid #f60;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    width: 30%;
    margin-left: 70%;
}

.Sidenav-submit:hover,
.Sidenav-submit:focus,
.Sidenav-submit:active {
    background: #f60;
    color: #fff;
    outline: none;
}
