<!doctype html>
<html ng-app="TomCss"
      ng-controller="ClientSideController as csc">
    <head>
        <title>客服</title>
        <link rel="stylesheet" type="text/css" href="/style/main.css">
    </head>

    <body>
        <div class="Wrapper">
            <div class="Wrapper-inner">
                <div class="Dialog-box">
                    <div class="Dialogs"
                         id="Dialogs">
                        <div class="Dialog-item"
                             ng-class="{'remote': msg.from_socket !== csc.profile._id}"
                             ng-repeat="msg in csc.messages track by $index">
                            <p ng-bind="msg.content"></p>
                        </div>

                        <div class="Dialog-item remote"
                             ng-show="csc.profile.target === ''">
                            <p>正在为您转接客服，请稍候。您也可以给我们留言，并且留下您的联系方式，我们将会及时与您联系，谢谢！</p>
                        </div>
                    </div>

                    <form class="Dialog-form"
                          ng-submit="csc.submitText()">
                        <textarea ng-model="csc.currentText"
                                  ng-keydown="csc.submitIfEnter()"
                                  required></textarea>
                        <button type="submit">发送</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script src="/js/es5-shim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-cookies.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/socket.service.js"></script>
    <script src="/js/customer.controller.js"></script>
</html>
