<!doctype html>
<html ng-app="TomCss"
      ng-controller="ServerSideController as ssc">
    <head>
        <title>客服系统（服务端）</title>
        <link rel="stylesheet" type="text/css" href="/style/main.css">
    </head>

    <body ng-class="{lock: ssc.isLoading}">
        <div class="Global-mask"
             ng-class="{'isLoading': ssc.isLoading}"
             ng-click="ssc.isLoading = false">
             <div class="Global-mask-inner">
                 <div class="Global-mask-content">
                     {{ ssc.loadingTips || 'Loading...' }}
                 </div>
             </div>
        </div>
        <div class="Wrapper" ng-class="{manage: ssc.isLoggedIn}">
            <div class="Wrapper-inner">
                <form class="Login-form"
                      ng-show="!ssc.isLoggedIn"
                      ng-submit="ssc.login()">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="20%">帐号</th>
                            <td width="80%"><input type="text" placeholder="账号" ng-model="ssc.username" required></td>
                        </tr>

                        <tr>
                            <th>密码</th>
                            <td><input type="password" placeholder="密码" ng-model="ssc.password" required></td>
                        </tr>

                        <tr>
                            <th></th>
                            <td>
                                <button class="Login-btn" type="submit" ng-if="!ssc.loginInProcess">登陆</button>
                                <span class="Login-btn" ng-if="ssc.loginInProcess">&#xe605;</span>
                            </td>
                        </tr>
                    </table>
                </form>

                <div class="loginAndShow"
                     ng-class="{isLoggedIn: ssc.isLoggedIn}">
                    <div class="Dialog-box">
                        <div class="Dialogs"
                             id="Dialogs">
                            <div class="Dialog-item"
                                 ng-repeat="msg in ssc.messages track by $index">
                                <p ng-bind="msg.content"></p>
                            </div>
                        </div>

                        <form class="Dialog-form"
                              ng-submit="ssc.submitText()">
                            <textarea ng-model="ssc.currentText"
                                      ng-keydown="ssc.submitIfEnter()"
                                      required></textarea>
                            <button type="submit">发送</button>
                        </form>
                    </div>

                    <div class="Sidebar">
                        <div class="Sidebar-tabs">
                            <span class="Sidebar-tab Sidebar-tab-users"
                                  ng-click="ssc.sideTab = 'users'"
                                  ng-class="{active: ssc.sideTab === 'users'}">&#xe602;</span>

                            <span class="Sidebar-tab Sidebar-tab-config"
                                  ng-click="ssc.sideTab = 'config'"
                                  ng-class="{active: ssc.sideTab === 'config'}">&#xe601;</span>

                            <span class="Sidebar-tab"
                                  ng-click="ssc.logout()">&#xe603;</span>
                        </div>

                        <div class="Users"
                             ng-show="ssc.sideTab === 'config'">
                            <div class="User-tabs-3">
                                <span class="User-tab"
                                      ng-click="ssc.configTab = 'list'"
                                      ng-show="ssc.profile.role === 'admin'"
                                      ng-class="{active: ssc.configTab === 'list'}">接线员列表</span>

                                <span class="User-tab"
                                      ng-click="ssc.configTab = 'add'"
                                      ng-show="ssc.profile.role === 'admin'"
                                      ng-class="{active: ssc.configTab === 'add'}">添加接线员</span>

                                <span class="User-tab"
                                      ng-click="ssc.configTab = 'personal'"
                                      ng-class="{active: ssc.configTab === 'personal'}">修改密码</span>
                            </div>

                            <ul class="User-list"
                                ng-show="ssc.configTab === 'list'">
                                <li ng-repeat="user in ssc.receptors">
                                    {{ user.name }}
                                    <span class="User-del"
                                          ng-show="user.name !== ssc.profile.name && ssc.profile.role === 'admin'"
                                          ng-click="ssc.removeReceptor(user.name)">&#xe604;</span>
                                </li>
                            </ul>

                            <div ng-show="ssc.configTab === 'add'">
                                <form class="Sidenav-form"
                                      name="createReceptorForm"
                                      ng-submit="ssc.createReceptor()"
                                      ng-show="ssc.profile.role === 'admin'">
                                    <label class="Sidenav-label">帐号：</label>
                                    <input type="text"
                                           ng-model="ssc.newReceptorName"
                                           class="Sidenav-input"
                                           ng-minlength="3"
                                           required>
                                    <label class="Sidenav-label">密码：</label>
                                    <input type="password"
                                           ng-model="ssc.newReceptorPass"
                                           class="Sidenav-input"
                                           ng-minlength="6"
                                           required>
                                    <label class="Sidenav-label">确认密码：</label>
                                    <input type="password"
                                           ng-model="ssc.newReceptorPassConfirm"
                                           class="Sidenav-input"
                                           ng-minlength="6"
                                           required>
                                    <span class="Sidenav-formTips"
                                          ng-show="ssc.createReceptorTips.length"
                                          ng-bind="ssc.createReceptorTips"></span>
                                    <button type="submit"
                                            class="Sidenav-submit">添加</button>
                                </form>
                            </div>

                            <div ng-show="ssc.configTab === 'personal'">
                                <form class="Sidenav-form"
                                      name="changePassForm"
                                      ng-submit="ssc.changePass()">
                                    <label class="Sidenav-label">初始密码：</label>
                                    <input type="password"
                                           ng-model="ssc.myPassOld"
                                           class="Sidenav-input"
                                           ng-minlength="6"
                                           required>
                                    <label class="Sidenav-label">新密码：</label>
                                    <input type="password"
                                           ng-model="ssc.myPassNew"
                                           class="Sidenav-input"
                                           ng-minlength="6"
                                           required>
                                    <label class="Sidenav-label">确认新密码：</label>
                                    <input type="password"
                                           ng-model="ssc.myPassNewConfirm"
                                           class="Sidenav-input"
                                           ng-minlength="6"
                                           required>
                                    <span class="Sidenav-formTips"
                                          ng-show="ssc.changePassTips.length"
                                          ng-bind="ssc.changePassTips"></span>
                                    <button type="submit"
                                            class="Sidenav-submit">修改</button>
                                </form>
                            </div>
                        </div>

                        <div class="Users"
                             ng-show="ssc.sideTab === 'users'">
                            <div class="User-tabs-4">
                                <span class="User-tab"
                                      ng-click="ssc.userTab = 'pending'"
                                      ng-class="{active: ssc.userTab === 'pending'}">
                                    <span class="unreads"
                                          ng-show="ssc.pendings.length"></span>
                                    待处理
                                </span>

                                <span class="User-tab"
                                      ng-click="ssc.userTab = 'recepting'"
                                      ng-class="{active: ssc.userTab === 'recepting'}">
                                    <span class="unreads"
                                          ng-show="ssc.unreads.length"></span>
                                    处理中
                                </span>

                                <span class="User-tab"
                                      ng-click="ssc.userTab = 'history'"
                                      ng-class="{active: ssc.userTab === 'history'}">历史</span>

                                <span class="User-tab"
                                      ng-click="ssc.userTab = 'missed'"
                                      ng-class="{active: ssc.userTab === 'missed'}">离线咨询</span>
                            </div>

                            <ul class="User-list"
                                ng-show="ssc.userTab === 'pending'">
                                <li ng-repeat="user in ssc.pendings"
                                    ng-click="ssc.recept(user._id)">
                                    {{ user.username }}
                                    <span class="unreads"
                                          ng-show="ssc.countPendings(user._id)"
                                          ng-bind="ssc.countPendings(user._id)"></span>
                                </li>
                            </ul>

                            <ul class="User-list"
                                ng-show="ssc.userTab === 'recepting'">
                                <li ng-repeat="user in ssc.socketUsers"
                                    ng-if="user.role === 'customer' && user.target === ssc.profile._id"
                                    ng-class="{'active': user._id === ssc.profile.target}"
                                    ng-click="ssc.recept(user._id)">
                                    {{ user.name }}
                                    <span class="unreads"
                                          ng-show="ssc.countUnreads(user._id)"
                                          ng-bind="ssc.countUnreads(user._id)"></span>
                                </li>
                            </ul>

                            <div ng-show="ssc.userTab === 'history'">
                                <form class="Sidenav-form"
                                      ng-submit="ssc.getHistoryCustomers()">
                                    <label class="Sidenav-label">请填写起始日期：</label>
                                    <input class="Sidenav-input"
                                           type="date" required
                                           ng-model="ssc.historyUsersStartDay">
                                    <label class="Sidenav-label">请填写结束日期：</label>
                                    <input class="Sidenav-input"
                                           type="date" required
                                           ng-model="ssc.historyUsersEndDay">
                                    <button type="submit" class="Sidenav-submit">查询</button>
                                </form>

                                <ul class="User-list">
                                    <li ng-repeat="user in ssc.historyCustomers"
                                        ng-bind="user._id"
                                        ng-hide="user._id === ssc.profile.name"
                                        ng-click="ssc.getHistoryMessages(user._id)"
                                        ng-class="{active: ssc.currentHistoryCustomer === user._id}"></li>
                                </ul>
                            </div>

                            <div ng-show="ssc.userTab === 'missed'">
                                <form class="Sidenav-form"
                                      ng-submit="ssc.getMissedCustomers()">
                                    <label class="Sidenav-label">请填写起始日期：</label>
                                    <input class="Sidenav-input"
                                           type="date" required
                                           ng-model="ssc.missedUsersStartDay">
                                    <label class="Sidenav-label">请填写结束日期：</label>
                                    <input class="Sidenav-input"
                                           type="date" required
                                           ng-model="ssc.missedUsersEndDay">
                                    <button type="submit" class="Sidenav-submit">查询</button>
                                </form>

                                <ul class="User-list">
                                    <li ng-repeat="user in ssc.missedCustomers"
                                        ng-bind="user.name"
                                        ng-click="ssc.getMissedMessages(user.name)"
                                        ng-class="{active: ssc.currentMissedCustomer === user.name}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/js/es5-shim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-cookies.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/socket.service.js"></script>
    <script src="/js/receptor.controller.js"></script>
</html>
