<!doctype html>
<html ng-app="HongQi"
      ng-controller="HongQiCtrl as hq">
    <head>
        <title>宏琪客服系统（服务端）</title>
        <link rel="stylesheet" type="text/css" href="/style/main.css">
    </head>

    <body>
        <div class="Wrapper" ng-class="{'manage': hq.isLoggedIn}">
            <div class="Wrapper-inner">
                <form class="Login-form"
                      ng-show="!hq.isLoggedIn"
                      ng-submit="hq.login()">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="20%">帐号</th>
                            <td width="80%"><input type="text" placeholder="账号" ng-model="hq.username" required></td>
                        </tr>

                        <tr>
                            <th>密码</th>
                            <td><input type="password" placeholder="密码" ng-model="hq.password" required></td>
                        </tr>

                        <tr>
                            <th></th>
                            <td><button type="submit">登陆</button></td>
                        </tr>
                    </table>
                </form>

                <div ng-show="hq.isLoggedIn">
                    <div class="Dialog-box">
                        <div class="Dialogs"
                             id="Dialogs">
                            <div ng-show="hq.userTab === 'pending' || hq.userTab === 'recepting'">
                                <div class="Dialog-item"
                                     ng-repeat="msg in hq.messages track by $index"
                                     ng-class="{'remote': msg.from_socket === hq.profile.target}"
                                     ng-if="(msg.from_socket === hq.profile.target) || (msg.to_socket === hq.profile.target && msg.to_socket !== '')">
                                    <p ng-bind="msg.content"></p>
                                </div>
                            </div>

                            <div ng-show="hq.userTab === 'missed'">
                                <div class="Dialog-item remote"
                                     ng-repeat="msg in hq.missedMessages track by $index">
                                    <p ng-bind="msg.content"></p>
                                </div>
                            </div>

                            <div ng-show="hq.userTab === 'history'">
                                <div class="Dialog-item"
                                     ng-repeat="msg in hq.historyMessages track by $index"
                                     ng-class="{'remote': (msg.from_name.indexOf('游客') === 0)}">
                                    <p ng-bind="msg.content"></p>
                                </div>
                            </div>
                        </div>

                        <form class="Dialog-form"
                              ng-submit="hq.submitText()">
                            <textarea ng-model="hq.currentText"
                                      ng-keydown="hq.submitIfEnter()"
                                      required></textarea>
                            <button type="submit">发送</button>
                        </form>
                    </div>

                    <div class="Sidebar">
                        <div class="Sidebar-tabs">
                            <span class="Sidebar-tab Sidebar-tab-users"
                                  ng-click="hq.sideTab = 'users'"
                                  ng-class="{active: hq.sideTab === 'users'}">&#xe602;</span>

                            <span class="Sidebar-tab Sidebar-tab-config"
                                  ng-click="hq.sideTab = 'config'"
                                  ng-class="{active: hq.sideTab === 'config'}">&#xe601;</span>
                        </div>

                        <div class="Users"
                             ng-show="hq.sideTab === 'config'">
                            <div class="User-tabs-3">
                                <span class="User-tab"
                                      ng-click="hq.configTab = 'list'"
                                      ng-class="{active: hq.configTab === 'list'}">接线员列表</span>

                                <span class="User-tab"
                                      ng-click="hq.configTab = 'add'"
                                      ng-class="{active: hq.configTab === 'add'}">添加接线员</span>

                                <span class="User-tab"
                                      ng-click="hq.configTab = 'personal'"
                                      ng-class="{active: hq.configTab === 'personal'}">修改密码</span>
                            </div>

                            <ul class="User-list"
                                ng-show="hq.configTab === 'list'">
                                <li ng-repeat="user in hq.receptors"
                                    ng-if="user.role === 'receptor'">
                                    {{ user.name }}
                                </li>
                            </ul>

                            <ul class="User-list"
                                ng-show="hq.configTab === 'add'">
                                <li>
                                    <form ng-submit="hq.createReceptor()">
                                        帐号：
                                        <input type="text"
                                               ng-model="hq.newReceptorName"
                                               required>
                                        密码：
                                        <input type="password"
                                               ng-model="hq.newReceptorPass"
                                               required>
                                        确认密码：
                                        <input type="password"
                                               ng-model="hq.newReceptorPassConfirm"
                                               required>
                                        <span class="submitTips"
                                              ng-show="hq.createReceptorTips.length"
                                              ng-bind="hq.createReceptorTips"></span>
                                        <button type="submit"
                                                class="submitInLi">添加</button>
                                    </form>
                                </li>
                            </ul>

                            <ul class="User-list"
                                ng-show="hq.configTab === 'personal'">
                                <li>
                                    <form ng-submit="hq.changePass()">
                                        初始密码：
                                        <input type="password"
                                               ng-model="hq.myPassOld"
                                               required>
                                        新密码：
                                        <input type="password"
                                               ng-model="hq.myPassNew"
                                               required>
                                        确认新密码：
                                        <input type="password"
                                               ng-model="hq.myPassNewConfirm"
                                               required>
                                        <span class="submitTips"
                                              ng-show="hq.changePassTips.length"
                                              ng-bind="hq.changePassTips"></span>
                                        <button type="submit"
                                                class="submitInLi">修改</button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="Users"
                             ng-show="hq.sideTab === 'users'">
                            <div class="User-tabs-4">
                                <span class="User-tab"
                                      ng-click="hq.userTab = 'pending'"
                                      ng-class="{active: hq.userTab === 'pending'}">
                                    <span class="unreads"
                                          ng-show="hq.hasPendingUser()"></span>
                                    未处理
                                </span>

                                <span class="User-tab"
                                      ng-click="hq.userTab = 'recepting'"
                                      ng-class="{active: hq.userTab === 'recepting'}">
                                    <span class="unreads"
                                          ng-show="hq.unreads.length"></span>
                                    处理中
                                </span>

                                <span class="User-tab"
                                      ng-click="hq.userTab = 'history'"
                                      ng-class="{active: hq.userTab === 'history'}">历史</span>

                                <span class="User-tab"
                                      ng-click="hq.userTab = 'missed'"
                                      ng-class="{active: hq.userTab === 'missed'}">离线咨询</span>
                            </div>

                            <ul class="User-list"
                                ng-show="hq.userTab === 'pending'">
                                <li ng-repeat="user in hq.socketUsers"
                                    ng-if="user.role === 'customer' && user.target === ''"
                                    ng-click="hq.recept(user._id)">
                                    {{ user.name }}
                                    <span class="unreads"
                                          ng-show="hq.countPendings(user._id)"
                                          ng-bind="hq.countPendings(user._id)"></span>
                                </li>
                            </ul>

                            <ul class="User-list"
                                ng-show="hq.userTab === 'recepting'">
                                <li ng-repeat="user in hq.socketUsers"
                                    ng-if="user.role === 'customer' && user.target === hq.profile._id"
                                    ng-class="{'active': user._id === hq.profile.target}"
                                    ng-click="hq.recept(user._id)">
                                    {{ user.name }}
                                    <span class="unreads"
                                          ng-show="hq.countUnreads(user._id)"
                                          ng-bind="hq.countUnreads(user._id)"></span>
                                </li>
                            </ul>

                            <ul class="User-list"
                                ng-show="hq.userTab === 'history'">
                                <li>
                                    <form ng-submit="hq.getHistoryCustomers()">
                                        请选择起始日期：
                                        <input type="date"
                                               ng-model="hq.historyUsersStartDay">
                                        请选择结束日期：
                                        <input type="date"
                                               ng-model="hq.historyUsersEndDay">
                                        <button type="submit" class="submitInLi">查询</button>
                                    </form>
                                </li>

                                <li ng-repeat="user in hq.historyCustomers"
                                    ng-bind="user._id"
                                    ng-hide="user._id === hq.profile.name"
                                    ng-click="hq.getHistoryMessages(user._id)"
                                    ng-class="{active: hq.currentHistoryCustomer === user._id}"></li>
                            </ul>

                            <ul class="User-list"
                                ng-show="hq.userTab === 'missed'">
                                <li>
                                    <form ng-submit="hq.getMissedCustomers()">
                                        请选择起始日期：
                                        <input type="date"
                                               ng-model="hq.missedUsersStartDay">
                                        请选择结束日期：
                                        <input type="date"
                                               ng-model="hq.missedUsersEndDay">
                                        <button type="submit" class="submitInLi">查询</button>
                                    </form>
                                </li>

                                <li ng-repeat="user in hq.missedCustomers"
                                    ng-bind="user.name"
                                    ng-click="hq.getMissedMessages(user.name)"
                                    ng-class="{active: hq.currentMissedCustomer === user.name}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/js/es5-shim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/socket.js"></script>
    <script src="/js/receptor.controller.js"></script>
</html>
