<!doctype html>
<html ng-app="HongQi"
      ng-controller="HongQiCtrl as hq">
    <head>
        <title>宏琪客服系统（服务端）</title>
        <link rel="stylesheet" type="text/css" href="/style/main.css">
    </head>

    <body>
        <div class="Wrapper"
             ng-class="{'manage': hq.isLoggedIn}">
            <div class="Wrapper-inner">
                <form class="Login-form"
                      ng-show="!hq.isLoggedIn"
                      ng-submit="hq.login()">
                    <input type="text" placeholder="账号" ng-model="hq.username" required>
                    <input type="password" placeholder="密码" ng-model="hq.password" required>
                    <button type="submit">登陆</button>
                </form>

                <div>
                    <div class="Dialog-box"
                         ng-show="hq.isLoggedIn">
                        <div class="Dialogs"
                             id="Dialogs">
                            <div class="Dialog-item"
                                 ng-class="{'remote': msg.from === hq.profile.target}"
                                 ng-repeat="msg in hq.messages"
                                 ng-if="(msg.from === hq.profile.target) || (msg.to === hq.profile.target && msg.to !== '')">
                                <p ng-bind="msg.content"></p>
                            </div>
                        </div>

                        <form class="Dialog-form"
                              ng-submit="hq.submitText()">
                            <textarea ng-model="hq.currentText"
                                      ng-keydown="hq.submitIfEnter()"
                                      required></textarea>
                            <button type="submit">发送</button>
                        </form>
                    </div>

                    <div class="Users" ng-show="hq.users.length > 1">
                        <div class="User-tabs">
                            <span class="User-tab pending"
                                  ng-click="hq.userTab = 'pending'"
                                  ng-class="{active: hq.userTab === 'pending'}">
                                <span class="unreads"
                                      ng-show="hq.hasPendingUser()"></span>
                                未处理
                            </span>

                            <span class="User-tab recepting"
                                  ng-click="hq.userTab = 'recepting'"
                                  ng-class="{active: hq.userTab === 'recepting'}">
                                <span class="unreads"
                                      ng-show="hq.unreads.length"></span>
                                处理中
                            </span>

                            <span class="User-tab manager"
                                  ng-click="hq.userTab = 'manager'"
                                  ng-class="{active: hq.userTab === 'manager'}">管理员</span>

                        </div>

                        <ul class="Users-pending"
                            ng-show="hq.isLoggedIn && hq.userTab === 'pending'">
                            <li ng-repeat="user in hq.users"
                                ng-if="user.role === 'customer' && user.target === ''"
                                ng-click="hq.recept(user.id)">
                                {{ user.name }}
                                <span class="unreads"
                                      ng-show="hq.countPendings(user.id)"
                                      ng-bind="hq.countPendings(user.id)"></span>
                            </li>
                        </ul>

                        <ul class="Users-recepting"
                            ng-show="hq.isLoggedIn && hq.userTab === 'recepting'">
                            <li ng-repeat="user in hq.users"
                                ng-if="user.role === 'customer' && user.target !== ''"
                                ng-class="{'active': user.id === hq.profile.target}"
                                ng-click="hq.recept(user.id)">
                                {{ user.name }}
                                <span class="unreads"
                                      ng-show="hq.countUnreads(user.id)"
                                      ng-bind="hq.countUnreads(user.id)">{{ user.name }}</span>
                            </li>
                        </ul>

                        <ul class="Users-manager"
                            ng-show="hq.isLoggedIn && hq.userTab === 'manager'">
                            <li ng-repeat="user in hq.users"
                                ng-bind="user.name"
                                ng-if="user.role === 'manager'"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/socket.js"></script>
    <script src="/js/server.controller.js"></script>
</html>
